/* #region common rules */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --drk-el: hsl(209, 23%, 22%); /* (Dark Mode Elements) */
  --drk-bg: hsl(207, 26%, 17%);
  --light-txt: hsl(200, 15%, 8%);
  --light-input: hsl(0, 0%, 50%);
  --light-bg: hsl(0, 0%, 99%);
  --white: hsl(0, 100%, 100%); /* drk text && light elements */

  --fw-sm: 300;
  --fw-md: 600;
  --fw-lg: 800;

  --ff-primary: "Nunito Sans";
}

body {
  font-family: var(--ff-primary), sans-serif;
  min-height: 100vh;
  background-color: var(--drk-bg);
  color: var(--white);
}
/* #endregion common rules */

/* #region header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem 2rem 1rem;
  background-color: var(--drk-el);
}
.header__title {
  font-weight: var(--fw-md);
}
.header__theme-toggle {
  border: none;
  background-color: var(--drk-el);
  color: var(--white);
  font-weight: var(--fw-sm);
  cursor: pointer;
}
.header__theme-toggle span {
  padding-left: 0.5rem;
}
/* #endregion header */
